# macOS system files
.DS_Store

# Build folders
/build/
/CMakeFiles/
/Makefile
/CMakeCache.txt
/*.cmake
/*.xcodeproj
/*.xcworkspace
/.cache/

# Compiled binaries
*.exe
*.out
*.app
*.o
*.obj
*.so
*.dll
*.dylib
*.a
*.lib

# Markdowns (for now)
*.md

# If we ever have build files inside external/SDL, ignore them:
external/SDL/build/
